@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Dongle:wght@300&display=swap');

*, *:before, *:after { 
  margin:0;
  padding:0;
  font-family: Arial,sans-serif;
}

a{
  text-decoration: none;
}
 
a.links{
  display: none;
}

.content{
  width: auto;
  margin: 0px auto;
  position: relative;
  display:flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;   
  min-height: 100vh;
}

h1{
  font-size: 100px;
  color: #00e5fff8;
  text-shadow: 0 2px 2px rgb(10, 114, 138);
  padding: 2px 0 5px 0;
  font-family: 'Dongle', sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px; /*margim de baixo do risco abaixo do cadastro/loguin */
} 

h1:after{
  content: ' ';
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 0px;
  background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgb(125, 195, 204) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
  background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgb(2, 155, 175) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}
 
.content p:first-child{
  margin: 0px;
}
 
label{
  color: rgba(147,184,189,0.8) 20%;
  position: relative;
}

:-webkit-input-placeholder  {
  color: #bebcbc; 
  font-style: italic;
}
 
input:-moz-placeholder,
textarea:-moz-placeholder{
  color: #01fdfdd2;
  font-style: italic; 
}

input{
  outline: none;
  margin-bottom: 12px;
}

input:not([type="checkbox"]){
  width: 95%;
  margin-top: 7px;
  padding: 10px;    
  border: 1px solid #000000;
 
  -webkit-border-radius: 3px;
  border-radius: 3px;
 
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
 
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
 
/*estilo do botão submit */
input[type="submit"]{
  width: 100%!important;
  cursor: pointer;  
  background: rgb(61, 157, 179);
  padding: 8px 5px;
  color: #fff;
  font-size: 20px;  
  border: 1px solid #fff;   
  margin-bottom: 10px;  
  text-shadow: 0 1px 1px #333;
 
  -webkit-border-radius: 5px;
  border-radius: 5px;
 
  transition: all 0.2s linear;
}

input[type="submit"]:hover{
  background: #00d9ff;
}


.link{
  background: #e1eaeb;
  color: #7f7c7c;
  left: 0px;
  height: 20px;
  width: 440px;
  padding: 17px 30px 20px 30px;
  font-size: 16px;
  text-align: right;
  border-top: 1px solid #dbe5e8;
 
  -webkit-border-radius: 0 0  5px 5px;
  border-radius: 0 0  5px 5px;
}
 
.link a {
  font-weight: bold;
  background: rgb(61, 157, 179);
  padding: 6px;
  color: #ffffff;
  margin-left: 10px;
  border: 1px solid #1b01af;
 
  -webkit-border-radius: 4px;
  border-radius: 4px;  
 
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s  linear;

  text-shadow: 0 1px 1px #333;
}
 
.link a:hover {
  color: #39bfd7;
  background: #f7f7f7;
  border: 1px solid #4ab3c6;
}

#cadastro, 
#login{   
  padding: 18px 1.5% 60px 1.5%;
  margin: 0 0 35px 0;
  background: #f7f7f7;
  border: 1px solid rgba(147, 184, 189,0.8);
   
  
}